@charset "UTF-8";

html{
	background-color:#f2f2f2;;
}
section{
	position:absolute;
	width:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	place-items:center;
	margin:auto 0;
}
#section{
	position:relative;
	width:800px;
	height:100%;
}

#frame{
	position:relative;
	width:100%;
	height:500px;
	left:50%;
	transform:translateX(-50%);
	overflow:hidden;
	
}
#title{
	background-color:white;
	width:100%;
	min-height:80px;
	
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr 1fr;
	place-items:center;
	border-bottom:1px solid #ddd;
	
}
#title div{
	width:95%;
}
#title div:nth-child(1){
	font-size:21px;
	font-weight:bold;
}
#title div:nth-child(2) span{	/* ==toPlace */
	font-size:14px;
	color:gray;
	cursor:pointer;
}
.stars{
	color:yellow;
	font-size:18px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

#optionBox{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:auto;
	place-items:center;
	background-color:white;
	width:100%;
	min-height:100px;

	
}

#optionBox .options{
	display:grid;
	grid-template-columns:repeat(auto-fill,40px);
	gap:15px;
	width:95%;
}
.option{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:auto auto;
	text-align:center;
	font-size:12px;
	color:gray;
}
.option img{
	width:35px;
	height:35px;
}



#searchBox{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:50px auto;
	background-color:white;
	place-items:center;
}

#searchbar{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:45px;
	width:100%;
	text-align:center;
	justify-content:center;
	gap:0;
}

#searchbar div:nth-child(1){
	text-align:right;
}
#searchbar div:nth-child(2){
	text-align:left;
}
#searchbar button{
	width:90%;	
	background-color:white;
	border:2px solid #ddd;
	height:45px;
	text-align:left;
	text-indent:1em;
	font-weight:bold;
	cursor:pointer;
}
#searchbar #when{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#searchbar #howmanypeople{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
#searchbar button:hover{
	background-color:#ddd;
}

#searchResult {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:230px;
	width:100%;
	margin-top:10px;
}
#searchResult div{
	width:100%;
}
#receipt{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr 1fr 1fr 1fr 1fr 1.5fr 1fr;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	place-items:center;
	
}
#empty{
	border:1px solid #ddd;
	border-right:0px solid #ddd;
}

#receipt div{
	width:90%;
	text-indent:1em;
}
#receipt div:nth-child(1){
	color:#616161;
	font-size:13px;
	font-weight:bold;
}
#summary{
	font-size:13px;
	color:#616161;
	font-weight:bold;
}
#summary span{
	margin:5px;
}
#summary .roomtypeInfo{
	font-size:11px;
	background-color:#E6E6E6;
}

#receipt div:nth-child(n+3){
	text-align:right;
}

#receipt div:nth-child(3){
	font-size:14px;
	font-weight:bold;
}

#pricePerDay{
	font-size:20px;
	font-weight:bold;
}

#pricePerPeriod{
	font-size:13px;
	color:#616161;
	font-weight:bold;
}

#bookButton{
	background-color:rgb(0, 128, 255);
	color:white;
	width:120px;
	height:32px;
	font-size:14px;
	border-radius:5px;
	cursor:pointer;
	border:0px;
	margin-top:10px;
}
#bookButton:hover{
	background-color:rgb(0, 60, 255);
	transition:0.3s;
}

#howmanyLeft{
	color:#E67000;
	font-size:13px;
	font-weight:bold;
}



#guide{
	background-color:white;
	margin-top:10px;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:50px auto;
	place-items:center;
}
#guide div:nth-child(1){
	margin-top:10px;
	font-size:17px;
	font-weight:bold;
	width:90%;
}
#guide div:nth-child(2){
	width:90%;
	min-height:100px;
}



#reviewBox{
	margin-top:10px;
	background-color:white;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:40px 40px auto;
	place-items:center;
}

#reviewBox div{

}

#howmanyReviewBox{
	margin-top:10px;
	font-weight:bold;
	font-size:17px;
	width:90%;
}
#howmanyReviewBox span{
	font-size:17px;
	font-weight:normal;
}

#arrangeWays_selectBox{
	width:90%;
	border-bottom:1px solid #ddd;
}
#arrangeWays{
	width: 110px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
    border: 0px solid #ddd;
    border-radius: 3px;
    color:blue;
}



#reviewlist{
	border-bottom:1px solid #ddd;
	min-height:400px;
	width:90%;
}

.review{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:25px 25px 25px auto;
	
	place-items:center;
	justify-content:left;
	width:100%;
	
}
.review div{
	width:100%;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
	
	justify-content:center;
}
.review div:nth-child(2){
	font-size:14px;
	color:#616161;
}
.review div:nth-child(3){
	display:grid;
	grid-template-columns:35px auto;
	grid-template-rows:1fr;
	place-items:center;
	justify-content:left;
	
	font-size:12px;
	color:gray;
}
.review div:nth-child(3) span{
	font-size:11px;
	background-color:#E6E6E6;
}

.review div:nth-child(4) {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #616161;
    padding-top: 10px;
    padding-bottom: 5px;
    text-indent: 5px;
}



#upwards{
	position:fixed;
	top:80%;
	left:95%;
	z-index:4;
	width:35px;
	height:35px;
	background-color:white;
	border-radius:50%;
	font-size:35px;
	cursor:pointer;
}
#upwards:hover{
	background-color:#ddd;
}










#footer{
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:60px auto;
	place-items:center;
	margin-bottom:70px;
	margin-top:40px;
}
#footerLogo{
	position:relative;
	width:90%;
}
#footerLogo img{
	height:35px;
}
#terms{
	width:90%;
}
#terms span{
	font-size:12px;
	color:gray;
}



